<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Wardrobe Recommendations for Your 3 Day Weather Forecast | Drobecast</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/demo.css" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link href='//fonts.googleapis.com/css?family=PT+Sans+Narrow&v1' rel='stylesheet' type='text/css' />
    <link href='//fonts.googleapis.com/css?family=Open+Sans+Condensed:300&v2' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/weather-font/css/weather-icons.min.css" />
    <style type="text/css">
    	body{background-color: #fff;margin:0;padding:0;color:#333;}
    </style>
</head>
<body>
 <div class="container-fluid" style="margin:0;padding:0;">
    <div class="row" style="margin:0;padding:0;">
     <header class="row" id="header">
        <div class="col-md-6" style="padding:0;">
            DROBECAST <span style="font-size:17px;" id="tagline">Wardrobe Recommendations for Your 3 Day Weather Forecast</span>
        </div>
        <div class="col-md-6" style="padding-right:0;text-align:right;" id="zipcodeWrapper">
            
            <button onclick="getLocationData();" class="btn btn-primary">GO</button>
            <input type="text" id="zipcode" name="zipcode" placeholder="Your Zipcode">
        </div>
     </header> 
     <div class="col-md-12">
        <h3 style="font-size:27px;text-align:right;margin:5px 10px;" id="cityAndState"></h3>
     </div>
 	</div>
 </div><!-- /.container -->

{{{body}}}

<footer id="footer">
<div class="row">
    <div class="col-md-6">
        <p>&copy; Copyright drobecast 2015</p> 
    </div>
<div style="text-align:right;" class="col-md-6">
  <!--<p>Powered By ShopStyle</p>-->
</div>
</div>
</footer>   
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js"></script>
    <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="js/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="js/jquery.vaccordion.js"></script>
    <script src="js/templates/home.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="js/app.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-65783702-1', 'auto');
      ga('send', 'pageview');
    </script>
</body>
</html>